$sidebar-color: white;
$sidebar-width: 250px;
$square-size: 50px;
$header-height: 3*$square-size;
%chess-board{
	:before{
	 		content: "";
	 		z-index:-2;
	    	position: absolute;
	    	width: 100%;
	   	 	height: 100%;
	    	top: 0px;
	    	left: 0px;
	    	filter: opacity(90%);
	    	//, blur(0px);
		 	background-color: #ec7600;
			background-size: 2*$square-size 2*$square-size;
			background-position: 0px 0px, $square-size $square-size; 
			opacity: 0.95;
			background-image:
				linear-gradient(-45deg, #500, #880000 25%, transparent 25%, transparent 75%, #880000 75%, #500),
	            linear-gradient(-45deg, #500, #880000 25%, transparent 25%, #f9853c, transparent 75%, #880000 75%, #500);
	    }
}

%shadow{
	text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black,
        -0.03em -0.03em black,
        -0.03em 0.03em black,
        0.03em -0.03em black,
        0.03em 0.03em black;
}

*{
	//border: 1px solid green;
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	//background-image: repeating-linear-gradient(45deg, #1f1f1f, #000000 2px, #1f1f1f 5px);
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	//@extend %chess-board;
	//background: radial-gradient(#d1A46b,#b57744);
}
nav{
	position: fixed;
	left: 0;
	top: $header-height;
	z-index: 100;
	padding-top: 60px;
	width: $sidebar-width;
	height: 100%;
	//background-color: $sidebar-color;
	color: white;
	border-radius: 2px;
	a{
		padding: 20px;
		text-decoration: none;
		display: block;
		color: inherit;
	}
	a:hover{
		opacity: 0.7;
		background-color: #f2f2f2;
		color: #333;
		border-radius: 10px;
	}

}

table{
   //border: 1px solid black;
   width: 100%;
   text-align: left;
   tr{
	   	position: relative;
	   	td{ position: relative;}
   }
}

.container{
	position: relative;
	margin: $header-height auto;
	width: 50%;
}

header{
	@extend %chess-board;
	position: relative;
	//top: 0;
	width: 100%;
	height: $header-height;
	text-align: center;
	//padding: 20px;
	line-height: 50%;
	vertical-align:middle;
	margin: 0 auto;
	z-index: 100;
	text-shadow: 0px 5px 4px #222;
	//@extend %shadow;
	.header-title{

	}
	.block{
		display: block;
		margin-bottom: 1em;
	}
	.logo{
		position: absolute;
		top: 3%;
		right: 20px;
		height: 0.95*$header-height;
		img{
			height: 100%;
		}
	}
}

.fixed-header{
	position: fixed;
	top: 0;
}

form{
	text-align: center;
	input{
		padding: 5px;
		margin: 10px;
	}
	textarea{
		width:100%;
		height: 200px;
	}
}
button{
	padding: 10px;
	border-radius: 10%;
	background: radial-gradient(#f87d29,#ff631b);
	color: white;
	border: none;
}

.post{
	position: relative;
	padding: 10px 20px;
	margin-bottom: 3em;
	border-radius: 10px;
	box-shadow: 2px 0px 2px 2px #222, -2px 0px 2px 2px #2f2f2f,
	 0px 2px 1px 2px #222, 0px -2px 2px 2px #222;
	color: white;
	//background-image: radial-gradient(#ccc, #ccc);
	background-image: repeating-linear-gradient(-45deg, #1f1f1f, #000000 2px, #1f1f1f 5px);
	//background-image: radial-gradient(#3f3f3f, #1f1f1f);
	//@extend %shadow;

	.title{
		margin: 0;
	}

	.date{
		font-size: 0.8em;
		font-weight: 700;
	}

	.author{
	}

	img{
		width: 100%;
	}

	.text{
		margin-top: 40px;
		line-height: 1.6;
		text-align: justify;
	}
}

.delete{
	position: absolute;
	top: 5px;
	right: 5px;
	background: red;
	padding: 2px;
	border-radius: 2px;
}